
/*  gris  */
.f-gris{
	background-color: #f8f8f8;
}

/*  azul  */
.f-azul{
	background-color: #08a4e5;
}


.f-blanco{
	background-color: #fff;
}

.center{
	text-align: center;
}

.text-blanco{
	color: white;
}

.text-blanco:hover {
	color: white;
}

.boton-azul{
	background-color: #08a4e5;
	color:white;
}

.left{
	text-align: left;
}

.my-padding{
	padding:20px;
}

.my-margin{
	margin-top:20px;
}

.text-blue{
	color:#08a4e5;
    font-weight: bold;
}

.text-gris{
	color:#08a4e5;
    font-weight: bold;
}


.btn-default-blue {
    border-bottom-color: #08a4e5 !important ;
    border-left-color: #08a4e5 !important ;
    border-right-color: #08a4e5 !important ;
    border-top-color: #08a4e5 !important ;
    color: #08a4e5  !important;
}

.btn-default-naranja {
    border-bottom-color: #f0ad4e !important ;
    border-left-color: #f0ad4e !important ;
    border-right-color: #f0ad4e !important ;
    border-top-color: #f0ad4e !important ;
    color: #f0ad4e  !important;
}

.btn-default-verde {
    border-bottom-color: #4cae4c !important ;
    border-left-color: #4cae4c !important ;
    border-right-color: #4cae4c !important ;
    border-top-color: #4cae4c !important ;
    color: #4cae4c  !important;
}