
/*  gris  */
.f-gris{
	background-color: #f8f8f8;
}

/*  azul  */
.f-azul{
	background-color: #08a4e5;
}


.f-blanco{
	background-color: #fff;
}

.center{
	text-align: center;
}

.text-blanco{
	color: white;
}

.text-blanco:hover {
	color: white;
}

.boton-azul{
	background-color: #08a4e5;
	color:white;
}

.left{
	text-align: left;
}

.my-padding{
	padding:20px;
}

.my-margin{
	margin-top:20px;
}

.text-blue{
	color:#08a4e5;
    font-weight: bold;
}

.text-gris{
	color:#08a4e5;
    font-weight: bold;
}