

/*  gris  */
.f-gris{
	background-color: #bd0b1f;
}

/*  azul  */
.f-azul{
	background-color: #08a4e5;
}


.f-blanco{
	background-color: #fff;
}

body{
	background-color: #bd0b1f;
	color: #fff;
}


.marging{
	margin-top: 20px;
}


.marging100{
	margin-top: 150px;
}

.marging50{
	margin-top: 50px;
}

.center{
	text-align: center;
}

.contador{
	font-size: 10rem;
}

.video-player{
	min-height: 200px;

	border: 1px solid #000000;
-moz-border-radius: 0px;/*Firefox*/
-webkit-border-radius: 0px;/*Safari, Chrome*/
border-radius: 0px;

margin-bottom: 10px;

padding:10px;


}


.miese{
	width: 20%;
}

.left{
	text-align: left;
}


.right{
	text-align: right;
}

.controles{
	border: 1px solid #000000;
	padding:10px;
}

.height100{
	height: 100%;
}

.heightX0{
	height: 80%;
}


.player-inf{
	padding-bottom: 80px;
}


.sap50{
   width: 50%;
}

.pad{
	margin-bottom: 10px;
}


