/*  gris  */
.f-gris{
	background-color: #f8f8f8;
}

/*  azul  */
.f-azul{
	background-color: #08a4e5;
}


.f-blanco{
	background-color: #fff;
}

body{
	background-color: #f8f8f8;
}


.marging{
	margin-top: 20px;
}


.marging100{
	margin-top: 150px;
}

.marging50{
	margin-top: 50px;
}

.center{
	text-align: center;
}

.contador{
	font-size: 10rem;
}

.video-player{
	height: 200px;

	border: 1px solid #000000;
-moz-border-radius: 0px;/*Firefox*/
-webkit-border-radius: 0px;/*Safari, Chrome*/
border-radius: 0px;

margin-bottom: 10px;

padding:10px;


}


.miese{
	width: 20%;
}

.left{
	text-align: left;
}


.right{
	text-align: right;
}